{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
  <div class="container my-5">
    <h1 class="display-5 text-center mb-4">Sign Up</h1>

    <div class="card shadow-sm mx-auto" style="max-width: 400px;">
      <div class="card-body">
        {% if error_message %}
          <p class="alert alert-danger text-center">{{ error_message }}</p>
        {% endif %}
        <form method="post" action="{% url 'signup' %}">
          {% csrf_token %}
          <div class="mb-3">{{ form.username.label_tag }}
            {{ form.username|addclass:'form-control' }}</div>
          <div class="mb-3">{{ form.password1.label_tag }}
            {{ form.password1|addclass:'form-control' }}</div>
          <div class="mb-3">{{ form.password2.label_tag }}
            {{ form.password2|addclass:'form-control' }}</div>
          <button type="submit" class="btn btn-primary w-100">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
